// Typography
$bodytype: (
  font-family: '"Source Sans Pro", serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Source Sans Pro", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: '"Source Code Pro", monospace',
  regular: 400,
  cap-height: 0.68
);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');